<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TraineeManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>jsps/LoginPage.jsp</welcome-file>
  </welcome-file-list>

<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/TraineeManagement.xml</param-value> <!-- Change Here -->
</context-param>
	
<!--  Creates application context from file maintain in context config location -->	
<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Creates web application context as a child of application context -->
 <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param> <!-- Config Parameter always inside servlet tag -->
    	<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/TraineeSpringMVC.xml</param-value> <!-- Change Here -->
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>